<div class="row">
	<div class="col-xs-6 col-md-6">
	<div class="title"><h3>{{ selectProd.nome }}</h3></div>
	<label>
		<img src="assets/images/img_01.png">
	</label><br>
	<label>
			<strong> Descrizione prodotto: {{ selectProd.descrizione }}</strong>
		</label><br>
		<label>
          Prezzo
		<strong> {{ selectProd.prezzo }}</strong> 
		</label>
		
	
	</div>
	<div class="col-xs-6 col-md-6">
		<h5>Quantit&aacute;</h5><hr>
			<select ng-model="qta" ng-options="qta for qta in quantita">
			</select>
		 <h2>
			<a class="btn btn active" role="button"
				ng-click="add('{{selectProd.nome}}')">Aggiungi al carrello</a> </h2>
		
		<h2>
			<a class="btn btn active" ng-href="#/carrello" role="button">Mostra
				carrello</a>
		</h2>
	</div>
</div>

