<div class="panel panel-success"
	style="margin-top: 3%; padding-button: 5%;">
	<div class="text-center">
		<h3>{{prod.sottocategoria}}</h3>
	</div>
</div>
<div class="row">
<p><a class="btn btn active" style="float:right;" role="button" ng-href="#/sottoCategoria">Torna indietro</a></p>
</div><br>
<div class="row" ng-if="CatIsEmpty">
	<div class="alert alert-warning" role="alert">Siamo spiacenti ma non 
	ci sono prodotti corrispondenti alla categoria {{prod.sottocategoria}}</div>
</div>
<div class="row">
	<div ng-repeat="item in items | filter:searchItem">
		<div class="col-lg-4" align="center">
			<h4>
				<p>
					<strong>{{ item.nome}}</strong>
				</p>
			</h4>
			<img src="assets/images/img_01.png"><br>
			<div>Euro {{ item.prezzo }}</div>
			<a class="btn btn active" role="button" ng-href="#/descrizione1"
				ng-click="send(item)" style="margin-bottom: 10px">Entra</a>
		</div>
	</div>
</div>