<div class="panel panel-success" style="margin-top:3%;padding-button:5%;">
   <div class="text-center">
		 <h3>{{showSottoCategorie.categoria}}</h3>
   </div>
</div>
<div class="row">
<p><a class="btn btn active" style="float:right;" role="button" ng-href="#/categoria">Torna indietro</a></p>
</div><br>
<div class="row" ng-if="showEmpty">
	<div class="alert alert-warning" role="alert">Siamo spiacenti ma non 
	ci sono prodotti corrispondenti alla categoria {{prod.sottocategoria}}</div>
</div>
<div class="row">
	<div ng-repeat="x in items">
		<div class="col-lg-4" align="center">
			<h4><p><strong>{{ x.sottocategoria }}</strong>
				</p>
			</h4>
			<img src="assets/images/img_01.png"><br>
			<a class="btn btn active" id="{{x.sottocategoria}}" role="button" ng-href="#/itemSubCategory"
			ng-click="selected(x)" style="margin-bottom: 10px">Entra</a>
		</div>
	</div>
</div>