<div class="row">
	<div class="col-md-12">
		<legend>Hi Admin</legend>
		<p>Insert the item or items that you want to sell!</p>
		<br>
		<form ng-submit="send(Item)">
		
			<div class="form-inline" align="left">
				<label>Category: <select ng-controller="CategoriaCtrl"
					ng-model="Item.category">
						<option ng-repeat="x in categorie">{{ x.categoria }}</option>
				</select>
				</label> <label>Sub-Category: <select
					ng-controller="SottocategoriaCtrl" ng-model="Item.subCategory">
						<option ng-repeat="x in informatica">{{ x.sottocategoria
							}}</option>
						<option ng-repeat="x in elettronica">{{ x.sottocategoria
							}}</option>
				</select>
				</label>
			</div>
			<br> <br>
			<div class="form-inline" align="left">
				<label><legend>Item Code:</legend> <input type="text"
					class="form-control" ng-model="Item.code" required
					placeholder="Item Name"> </label> <label><legend>Item
						Name:</legend> <input type="text" class="form-control" ng-model="Item.name"
					required placeholder="Item Name"> </label> <label><legend>Item
						Price:</legend> <input type="number" class="form-control"
					data-ng-model="Item.price" required placeholder="Item Price">
				</label> <label><legend>Select a file:</legend>
						<form>
							 <input type="file" name="img"><br>
						</form>
						</label> <label><legend>Quantita':</legend> <select
						ng-model="Item.qta" ng-mouseover="danger()">
							<option ng-repeat="number in numbers">{{ number }}</option>
					</select> </label>
					<div class="form-inline" align="left">
						<label> <legend>Descrizione:</legend> <textarea rows="8"
								data-ng-model="Item.descrizione" cols="40%" tabindex="5"
								required maxlength="200"></textarea>
						</label> <label><button class="btn btn active"
								type="submit">Aggiungi</button> </label>
					</div>
			</div>
		</form>
	</div>
</div>
