<div class="container-fluid">
	<div class="row">
		<h2>Search...</h2>
		<div id="custom-search-input">
			<div class="input-group col-md-12">
				<input type="text" ng-model="searchConsumer" placeholder="Search" />
				<span class="input-group-btn"> </span>
			</div>
		</div>
	</div>
</div>
<br>
<table class="table">
	<thead>
		<tr>
			<th data-field="id">Item ID</th>
			<th data-field="name">Item Name</th>
			<th>Item Surname</th>
			<th>Username</th>
			<th>Codice Cliente</th>
		</tr>
	</thead>
	<tbody>
		 <tr ng-repeat="user in users | filter:searchConsumer">
			<td>{{ $index + 1 }}</td>
			<td>{{ user.nome}}</td>
			<td>{{ user.cognome }}</td>
			<td>{{ user.mail }}</td>
			<td>{{ user.codiceCliente }}</td>
			<td><a class="btn btn active" role="button"
				ng-click="cancellaUtente(user)"> <span
					class="glyphicon glyphicon-remove"></span>
			</a></td>
		</tr>
	 </tbody>
</table>