<a class="btn btn active" style="float: right;" role="button"
	ng-href="#/registrazione">Torna indietro</a>
<div class="row">

	<div class="col-sm-12 col-md-12 col-hi-12">
		<form ng-submit="registrazionePrivato(Privato)">
			<div class="form-inline" align="left">
				
				<legend>Dati Privato</legend>
				<p>
					<input type="text" class="form-control"
						data-ng-model="Privato.nome" required maxlength="20"
						placeholder="Nome"><br> <input type="text"
						class="form-control" data-ng-model="Privato.cognome" required
						maxlength="20" placeholder="Cognome"> <br><input type="text"
						class="form-control" data-ng-model="Privato.cf" required
						maxlength="16" placeholder="Codice Fiscale"><br>
				</p><br>
				<input type="number" class="form-control"
					data-ng-model="Privato.telefono" min="0" max="999999999999"
					required placeholder="Telefono">
			</div>
			<br>
			<div class="form-inline" align="left">
				<legend>Indirizzo</legend>
				<p>
					<select class="form-control" ng-model="Privato.tipovia" ng-options="value for value in tipovia">
					</select><br>
				</p>
				<p>
					<input type="text" class="form-control"
						data-ng-model="Privato.nomevia" required maxlength="40"
						placeholder="Nome via" /><br> <input type="text" class="form-control"
						data-ng-model="Privato.numerocivico" required maxlength="5"
						placeholder="numero civico" /><br> <input type="text"
						class="form-control" data-ng-model="Privato.scala" maxlength="2"
						placeholder="Scala"><br>
				</p>
				<p>
					<input type="number" data-ng-model="Privato.piano" max="999"
						class="form-control" placeholder="Piano">
				</p>
			</div>
			<hr>
			<div class="form-inline" align="left">
			<legend>Localit&aacute;</legend>
					<label>Regione</label>
				 	<select ng-model="Privato.regioni" id="reg" ng-options="reg.nome as reg.nome for reg in regioni"
					ng-change="selProvince({{'reg'}})"></select> <br>
					<label>Provincia</label>
					<select ng-model="Privato.provincia" ng-disable="!Privato.regioni" id="prov" ng-options="prov.nomeprovincia as prov.nomeprovincia for prov in province"
					ng-change="selComuni({{'prov'}})"></select><br>
					<label>Citt&aacute;</label>
					<select ng-model="Privato.citta" ng-disable="!Privato.regioni" value="citta" ng-options="city for city in citta"
					ng-change="selComuni(reg)"></select>
					<!-- 
					<input type="text" data-ng-model="Privato.citta" required
						maxlength="20" class="form-control" placeholder="Citta'">
					<input type="text" data-ng-model="Privato.provincia" required
						maxlength="2" class="form-control" placeholder="Provincia">
					<input type="number" data-ng-model="Privato.cap" required
						min="10000" max="99999" class="form-control" placeholder="CAP">
				 -->
				<input type="text" data-ng-model="Privato.paese" required
					maxlength="20" class="form-control" placeholder="Paese">
			</div>
			<br>
			<div class="form-inline" align="left">
				<legend>E-mail</legend>
				<input type="email" data-ng-model="Privato.mail1" required
					maxlength="50" class="form-control" placeholder="Indirizzo e-mail">
				<input type="email" data-ng-model="Privato.mail2" required
					maxlength="50" class="form-control"
					placeholder="Conferma indirizzo e-mail">
			</div>
			<br>
			<div class="form-inline" align="left">
				<legend>Password</legend>
				<input type="password" class="form-control"
					data-ng-model="Privato.password1" data-minlength="6" required
					maxlength="16" class="form-control" placeholder="Password">
				<input type="password" class="form-control"
					data-ng-model="Privato.password2" required maxlength="16"
					placeholder="Conferma password">
			</div>
			<br>
			<div align="left">
				<br>
				<button type="submit" class="btn btn-warning active">Send</button>
			</div>
		</form>
		<div ng-if="showErrorReg" class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign"
			aria-hidden="false"></span>{{ errore }}
		</div>
	</div>
</div>
<style>
legend {
	color: #feb401;
}
</style>