<a class="btn btn active" style="float: right;" role="button" ng-href="#/registrazione">Torna indietro</a>

<form ng-submit="registrazionePrivato(Privato)">
	<legend>Dati Privato</legend>
	<div class="form-group col-sm-6">
		<label for="Privato.nome">Nome</label>
		<div ng-class="control-label" class="col-sm-12">
			<input type="text" ng-model="Privato.nome" maxlength="20">
		</div>
	</div>
	<div class="form-group col-sm-6">
		<label for="Privato.cognome">Cognome</label>
		<div ng-class="control-label" class="col-sm-12">
			<input type="text" data-ng-model="Privato.cognome" maxlength="20">
		</div>
	</div>
	<div class="form-group col-sm-6">
		<label for="Privato.cf">Codice Fiscale</label>
		<div ng-class="control-label" class="col-sm-12">
			<input type="text" data-ng-model="Privato.cf" maxlength="16">
		</div>
	</div>
	<div class="form-group col-sm-6">
		<label for="Privato.telefono">Telefono</label>
		<div class="form-group col-sm-12">
			<input type="number" data-ng-model="Privato.telefono" min="0"
				max="999999999999">
		</div>
	</div>
	
	                                               <!-- INDIRIZZO -->
	                                               
	<legend>Indirizzo</legend>
	<div class="form-group col-sm-6">
		<label for="Privato.tipovia">Tipo via</label>
		<div class="form-group col-sm-12">
			<span> <select ng-model="Privato.tipovia"
				ng-options="value for value in tipovia">
			</select>
			</span>
		</div>
	</div>
	<div class="form-group col-sm-6">
		<label for="Privato.nomevia">Via</label>
		<div class="form-group col-sm-12">
			<input type="text" data-ng-model="Privato.nomevia" maxlength="40" />
		</div>
	</div>
	<div class="form-group col-sm-6">
		<label for="Privato.numerocivico">Numero civico</label>
		<div class="form-group col-sm-12">
			<input type="text" data-ng-model="Privato.numerocivico" maxlength="5" />
		</div>
	</div>
	<div class="form-group col-sm-6">
		<label for="Privato.nomevia">Scala</label>
		<div class="form-group col-sm-12">
			<input type="text" data-ng-model="Privato.scala" maxlength="2">
		</div>
	</div>
	<div class="form-group col-sm-6">
		<label for="Privato.piano">Piano</label>
		<div class="form-group col-sm-12">
			<input type="number" data-ng-model="Privato.piano" max="999">
		</div>
	</div>
	
	<legend>Localit&aacute;</legend>
	<hr>
	
	<!-- Direttiva per la selezioni dello stato--regione -- provinicia-- comune -->
   <seleziona-residenza cap="Privato.cap"></seleziona-residenza>
 
 
 													<!-- EMAIL-->
 													
	<legend>E-mail</legend><hr>
	<div class="form-group col-sm-6">
		<label for="Privato.mail1">Indirizzo e-mail</label> 
			<div class="form-group col-sm-12">
			<input type="email" data-ng-model="Privato.mail1" maxlength="50">
			</div>
	</div>
	<div class="form-group col-sm-6">
		<label for="Privato.mail2">Conferma Indirizzo e-mail</label> 
			<div class="form-group col-sm-12"> <input
			type="text" data-ng-model="Privato.mail2" maxlength="50">
	</div>
	</div>
	<legend>Password</legend><hr>
	<div class="form-group col-sm-6">
		<label for="Privato.password1">Password</label> 
			<div class="form-group col-sm-12">
				<input type="password" data-ng-model="Privato.password1" data-minlength="6" maxlength="16">
			</div>
	</div>
	<div class="form-group col-sm-6">
		<label for="Privato.password2">Conferma password</label> 
			<div class="form-group col-sm-12">
			 <input	type="password" data-ng-model="Privato.password2" maxlength="16">
		</div>
	</div>
	<br>
	<div align="left">
		<br>
		<button type="submit" class="btn btn-warning active">Registrati</button>
	</div>
</form>
<div ng-if="showErrorReg" class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="false"></span>{{
	errore }}
</div>