<div class="row">
<span ng-if="NoToken">Non puoi vedere questa pagina</span>
</div>
<div class="row" ng-if="SiToken">

	<div class="col-md-12">
		<div class="container-fluid">
			<h3>My shopping:</h3>
			<table class="table">
				<thead>
					<tr>
						<th data-field="id">Item ID</th>
						<th data-field="name">Item Name</th>
						<th>Data Ordine</th>
						<th>Data arrivo</th>
						<th>Stato</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="myProduct in myProducts">
						<td>{{$index+1}}</td>
						<td>{{}}name</td>
						<td>{{myProduct.dataOrdine.dayOfMonth}}/{{myProduct.dataOrdine.month}}/{{myProduct.dataOrdine.year}}</td>
						<td>{{myProduct.dataArrivo.dayOfMonth}}/{{myProduct.dataArrivo.month}}/{{myProduct.dataArrivo.year}}</td>
						<td>{{myProduct.stato}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>