<div class="form-group col-sm-6">
	<label for="Privato.paese">Nazione</label>
	<div class="form-group col-sm-12">
		<!-- <select ng-model="Privato.paese" ng-option="reg.nomeStato as reg.nomeStato for reg in stati"> -->
		<select>
			<option value="IT">{{stati}}</option>
		</select>
	</div>
</div>
<div class="form-group col-sm-6">
	<label for="Privato.regioni">Regione</label>
	<div class="form-group col-sm-12">
		<select ng-model="Privato.regioni" id="reg"
			ng-options="reg.nome as reg.nome for reg in regioni"
			ng-change="selProvince({{'reg'}})"></select>
	</div>
</div>
<div class="form-group col-sm-6">
	<label for="Privato.paese">Provincia</label>
	<div class="form-group col-sm-12">
		<select ng-model="Privato.provincia" ng-disable="!Privato.regioni"
			id="prov"
			ng-options="prov.nomeprovincia as prov.nomeprovincia for prov in province"
			ng-change="selComuni({{'prov'}})"></select>
	</div>
</div>
<div class="form-group col-sm-6">
	<label for="Privato.citta">Comune</label>
	<div class="form-group col-sm-12">
		<select ng-model="Privato.citta" ng-disable="!Privato.provincie"
			value="citta"
			ng-options="citta.nomecomune as citta.nomecomune for citta in citta"
			ng-change="selComuni(reg)"></select>
	</div>
</div>
<div class="form-group col-sm-6">
	<label for="Privato.paese">CAP</label>
	<div class="form-group col-sm-12">
		<input type="number" data-ng-model="Privato.cap" maxlength="20">
	</div>
</div>
